header {
    background-color:rgb(255, 255, 255);
    border: 5px inset #0E53A7 ;
}

body {
    font-family:sans-serif;
    background-color:PowderBlue;
    text-decoration: none;
    font-size: 20px;
}

footer {
    text-align: center;
    background-color:rgb(255, 255, 255);
}

footer a{
    font-size: 20px;
    color:black;
    text-decoration: none;
}

main {
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.fc{
    background-color: blue;
    color: white;
}

nav a:hover {
    background-color: #b44f1e;
    color: black;
}

nav a:focus{
    background-color: palegreen;
}
